/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$amex-name: 'amex';
$amex-x: 0px;
$amex-y: 54px;
$amex-offset-x: 0px;
$amex-offset-y: -54px;
$amex-width: 39px;
$amex-height: 50px;
$amex-total-width: 211px;
$amex-total-height: 154px;
$amex-image: '/sprites/cards.png';
$amex: 0px 54px 0px -54px 39px 50px 211px 154px '/sprites/cards.png' 'amex';
$credit-card-name: 'credit-card';
$credit-card-x: 78px;
$credit-card-y: 104px;
$credit-card-offset-x: -78px;
$credit-card-offset-y: -104px;
$credit-card-width: 32px;
$credit-card-height: 22px;
$credit-card-total-width: 211px;
$credit-card-total-height: 154px;
$credit-card-image: '/sprites/cards.png';
$credit-card: 78px 104px -78px -104px 32px 22px 211px 154px '/sprites/cards.png' 'credit-card';
$discover-name: 'discover';
$discover-x: 39px;
$discover-y: 54px;
$discover-offset-x: -39px;
$discover-offset-y: -54px;
$discover-width: 39px;
$discover-height: 50px;
$discover-total-width: 211px;
$discover-total-height: 154px;
$discover-image: '/sprites/cards.png';
$discover: 39px 54px -39px -54px 39px 50px 211px 154px '/sprites/cards.png' 'discover';
$jcb-name: 'jcb';
$jcb-x: 78px;
$jcb-y: 54px;
$jcb-offset-x: -78px;
$jcb-offset-y: -54px;
$jcb-width: 39px;
$jcb-height: 50px;
$jcb-total-width: 211px;
$jcb-total-height: 154px;
$jcb-image: '/sprites/cards.png';
$jcb: 78px 54px -78px -54px 39px 50px 211px 154px '/sprites/cards.png' 'jcb';
$mastercard-name: 'mastercard';
$mastercard-x: 0px;
$mastercard-y: 104px;
$mastercard-offset-x: 0px;
$mastercard-offset-y: -104px;
$mastercard-width: 39px;
$mastercard-height: 50px;
$mastercard-total-width: 211px;
$mastercard-total-height: 154px;
$mastercard-image: '/sprites/cards.png';
$mastercard: 0px 104px 0px -104px 39px 50px 211px 154px '/sprites/cards.png' 'mastercard';
$mcafee-name: 'mcafee';
$mcafee-x: 117px;
$mcafee-y: 54px;
$mcafee-offset-x: -117px;
$mcafee-offset-y: -54px;
$mcafee-width: 94px;
$mcafee-height: 42px;
$mcafee-total-width: 211px;
$mcafee-total-height: 154px;
$mcafee-image: '/sprites/cards.png';
$mcafee: 117px 54px -117px -54px 94px 42px 211px 154px '/sprites/cards.png' 'mcafee';
$norton-name: 'norton';
$norton-x: 0px;
$norton-y: 0px;
$norton-offset-x: 0px;
$norton-offset-y: 0px;
$norton-width: 136px;
$norton-height: 54px;
$norton-total-width: 211px;
$norton-total-height: 154px;
$norton-image: '/sprites/cards.png';
$norton: 0px 0px 0px 0px 136px 54px 211px 154px '/sprites/cards.png' 'norton';
$paypal-name: 'paypal';
$paypal-x: 136px;
$paypal-y: 0px;
$paypal-offset-x: -136px;
$paypal-offset-y: 0px;
$paypal-width: 73px;
$paypal-height: 20px;
$paypal-total-width: 211px;
$paypal-total-height: 154px;
$paypal-image: '/sprites/cards.png';
$paypal: 136px 0px -136px 0px 73px 20px 211px 154px '/sprites/cards.png' 'paypal';
$security-numbers-name: 'security-numbers';
$security-numbers-x: 136px;
$security-numbers-y: 20px;
$security-numbers-offset-x: -136px;
$security-numbers-offset-y: -20px;
$security-numbers-width: 63px;
$security-numbers-height: 20px;
$security-numbers-total-width: 211px;
$security-numbers-total-height: 154px;
$security-numbers-image: '/sprites/cards.png';
$security-numbers: 136px 20px -136px -20px 63px 20px 211px 154px '/sprites/cards.png' 'security-numbers';
$visa-name: 'visa';
$visa-x: 39px;
$visa-y: 104px;
$visa-offset-x: -39px;
$visa-offset-y: -104px;
$visa-width: 39px;
$visa-height: 50px;
$visa-total-width: 211px;
$visa-total-height: 154px;
$visa-image: '/sprites/cards.png';
$visa: 39px 104px -39px -104px 39px 50px 211px 154px '/sprites/cards.png' 'visa';
$cards-width: 211px;
$cards-height: 154px;
$cards-image: '/sprites/cards.png';
$cards-sprites: $amex $credit-card $discover $jcb $mastercard $mcafee $norton $paypal $security-numbers $visa;
$cards: 211px 154px '/sprites/cards.png' $cards-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
