/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$american-x-cvv-name: 'american-x-cvv';
$american-x-cvv-x: 0px;
$american-x-cvv-y: 0px;
$american-x-cvv-offset-x: 0px;
$american-x-cvv-offset-y: 0px;
$american-x-cvv-width: 113px;
$american-x-cvv-height: 123px;
$american-x-cvv-total-width: 367px;
$american-x-cvv-total-height: 289px;
$american-x-cvv-image: '/sprites/cards.png';
$american-x-cvv: 0px 0px 0px 0px 113px 123px 367px 289px '/sprites/cards.png' 'american-x-cvv';
$amex-name: 'amex';
$amex-x: 162px;
$amex-y: 177px;
$amex-offset-x: -162px;
$amex-offset-y: -177px;
$amex-width: 39px;
$amex-height: 50px;
$amex-total-width: 367px;
$amex-total-height: 289px;
$amex-image: '/sprites/cards.png';
$amex: 162px 177px -162px -177px 39px 50px 367px 289px '/sprites/cards.png' 'amex';
$change-plan-click-name: 'change-plan-click';
$change-plan-click-x: 265px;
$change-plan-click-y: 48px;
$change-plan-click-offset-x: -265px;
$change-plan-click-offset-y: -48px;
$change-plan-click-width: 102px;
$change-plan-click-height: 24px;
$change-plan-click-total-width: 367px;
$change-plan-click-total-height: 289px;
$change-plan-click-image: '/sprites/cards.png';
$change-plan-click: 265px 48px -265px -48px 102px 24px 367px 289px '/sprites/cards.png' 'change-plan-click';
$change-plan-hover-name: 'change-plan-hover';
$change-plan-hover-x: 201px;
$change-plan-hover-y: 177px;
$change-plan-hover-offset-x: -201px;
$change-plan-hover-offset-y: -177px;
$change-plan-hover-width: 102px;
$change-plan-hover-height: 24px;
$change-plan-hover-total-width: 367px;
$change-plan-hover-total-height: 289px;
$change-plan-hover-image: '/sprites/cards.png';
$change-plan-hover: 201px 177px -201px -177px 102px 24px 367px 289px '/sprites/cards.png' 'change-plan-hover';
$change-plan-name: 'change-plan';
$change-plan-x: 265px;
$change-plan-y: 24px;
$change-plan-offset-x: -265px;
$change-plan-offset-y: -24px;
$change-plan-width: 102px;
$change-plan-height: 24px;
$change-plan-total-width: 367px;
$change-plan-total-height: 289px;
$change-plan-image: '/sprites/cards.png';
$change-plan: 265px 24px -265px -24px 102px 24px 367px 289px '/sprites/cards.png' 'change-plan';
$credit-card-name: 'credit-card';
$credit-card-x: 226px;
$credit-card-y: 100px;
$credit-card-offset-x: -226px;
$credit-card-offset-y: -100px;
$credit-card-width: 32px;
$credit-card-height: 22px;
$credit-card-total-width: 367px;
$credit-card-total-height: 289px;
$credit-card-image: '/sprites/cards.png';
$credit-card: 226px 100px -226px -100px 32px 22px 367px 289px '/sprites/cards.png' 'credit-card';
$discover-name: 'discover';
$discover-x: 226px;
$discover-y: 50px;
$discover-offset-x: -226px;
$discover-offset-y: -50px;
$discover-width: 39px;
$discover-height: 50px;
$discover-total-width: 367px;
$discover-total-height: 289px;
$discover-image: '/sprites/cards.png';
$discover: 226px 50px -226px -50px 39px 50px 367px 289px '/sprites/cards.png' 'discover';
$jcb-name: 'jcb';
$jcb-x: 0px;
$jcb-y: 239px;
$jcb-offset-x: 0px;
$jcb-offset-y: -239px;
$jcb-width: 39px;
$jcb-height: 50px;
$jcb-total-width: 367px;
$jcb-total-height: 289px;
$jcb-image: '/sprites/cards.png';
$jcb: 0px 239px 0px -239px 39px 50px 367px 289px '/sprites/cards.png' 'jcb';
$lock-name: 'lock';
$lock-x: 265px;
$lock-y: 72px;
$lock-offset-x: -265px;
$lock-offset-y: -72px;
$lock-width: 16px;
$lock-height: 20px;
$lock-total-width: 367px;
$lock-total-height: 289px;
$lock-image: '/sprites/cards.png';
$lock: 265px 72px -265px -72px 16px 20px 367px 289px '/sprites/cards.png' 'lock';
$mastercard-name: 'mastercard';
$mastercard-x: 39px;
$mastercard-y: 239px;
$mastercard-offset-x: -39px;
$mastercard-offset-y: -239px;
$mastercard-width: 39px;
$mastercard-height: 50px;
$mastercard-total-width: 367px;
$mastercard-total-height: 289px;
$mastercard-image: '/sprites/cards.png';
$mastercard: 39px 239px -39px -239px 39px 50px 367px 289px '/sprites/cards.png' 'mastercard';
$mcafee-name: 'mcafee';
$mcafee-x: 78px;
$mcafee-y: 239px;
$mcafee-offset-x: -78px;
$mcafee-offset-y: -239px;
$mcafee-width: 94px;
$mcafee-height: 42px;
$mcafee-total-width: 367px;
$mcafee-total-height: 289px;
$mcafee-image: '/sprites/cards.png';
$mcafee: 78px 239px -78px -239px 94px 42px 367px 289px '/sprites/cards.png' 'mcafee';
$norton-name: 'norton';
$norton-x: 162px;
$norton-y: 123px;
$norton-offset-x: -162px;
$norton-offset-y: -123px;
$norton-width: 136px;
$norton-height: 54px;
$norton-total-width: 367px;
$norton-total-height: 289px;
$norton-image: '/sprites/cards.png';
$norton: 162px 123px -162px -123px 136px 54px 367px 289px '/sprites/cards.png' 'norton';
$paypal-name: 'paypal';
$paypal-x: 258px;
$paypal-y: 100px;
$paypal-offset-x: -258px;
$paypal-offset-y: -100px;
$paypal-width: 73px;
$paypal-height: 20px;
$paypal-total-width: 367px;
$paypal-total-height: 289px;
$paypal-image: '/sprites/cards.png';
$paypal: 258px 100px -258px -100px 73px 20px 367px 289px '/sprites/cards.png' 'paypal';
$plan-button-name: 'plan-button';
$plan-button-x: 265px;
$plan-button-y: 0px;
$plan-button-offset-x: -265px;
$plan-button-offset-y: 0px;
$plan-button-width: 102px;
$plan-button-height: 24px;
$plan-button-total-width: 367px;
$plan-button-total-height: 289px;
$plan-button-image: '/sprites/cards.png';
$plan-button: 265px 0px -265px 0px 102px 24px 367px 289px '/sprites/cards.png' 'plan-button';
$security-numbers-name: 'security-numbers';
$security-numbers-x: 201px;
$security-numbers-y: 201px;
$security-numbers-offset-x: -201px;
$security-numbers-offset-y: -201px;
$security-numbers-width: 63px;
$security-numbers-height: 20px;
$security-numbers-total-width: 367px;
$security-numbers-total-height: 289px;
$security-numbers-image: '/sprites/cards.png';
$security-numbers: 201px 201px -201px -201px 63px 20px 367px 289px '/sprites/cards.png' 'security-numbers';
$submit-hover-name: 'submit-hover';
$submit-hover-x: 0px;
$submit-hover-y: 181px;
$submit-hover-offset-x: 0px;
$submit-hover-offset-y: -181px;
$submit-hover-width: 162px;
$submit-hover-height: 58px;
$submit-hover-total-width: 367px;
$submit-hover-total-height: 289px;
$submit-hover-image: '/sprites/cards.png';
$submit-hover: 0px 181px 0px -181px 162px 58px 367px 289px '/sprites/cards.png' 'submit-hover';
$submit-name: 'submit';
$submit-x: 0px;
$submit-y: 123px;
$submit-offset-x: 0px;
$submit-offset-y: -123px;
$submit-width: 162px;
$submit-height: 58px;
$submit-total-width: 367px;
$submit-total-height: 289px;
$submit-image: '/sprites/cards.png';
$submit: 0px 123px 0px -123px 162px 58px 367px 289px '/sprites/cards.png' 'submit';
$visa-cvv-name: 'visa-cvv';
$visa-cvv-x: 113px;
$visa-cvv-y: 0px;
$visa-cvv-offset-x: -113px;
$visa-cvv-offset-y: 0px;
$visa-cvv-width: 113px;
$visa-cvv-height: 123px;
$visa-cvv-total-width: 367px;
$visa-cvv-total-height: 289px;
$visa-cvv-image: '/sprites/cards.png';
$visa-cvv: 113px 0px -113px 0px 113px 123px 367px 289px '/sprites/cards.png' 'visa-cvv';
$visa-name: 'visa';
$visa-x: 226px;
$visa-y: 0px;
$visa-offset-x: -226px;
$visa-offset-y: 0px;
$visa-width: 39px;
$visa-height: 50px;
$visa-total-width: 367px;
$visa-total-height: 289px;
$visa-image: '/sprites/cards.png';
$visa: 226px 0px -226px 0px 39px 50px 367px 289px '/sprites/cards.png' 'visa';
$cards-width: 367px;
$cards-height: 289px;
$cards-image: '/sprites/cards.png';
$cards-sprites: $american-x-cvv $amex $change-plan-click $change-plan-hover $change-plan $credit-card $discover $jcb $lock $mastercard $mcafee $norton $paypal $plan-button $security-numbers $submit-hover $submit $visa-cvv $visa;
$cards: 367px 289px '/sprites/cards.png' $cards-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
